<div class="sub-menu__schedule">
  <div class="schedule-box">
    <div class="schedule-box__month">
      4月
    </div>
    <div class="schedule-box__fes">
      川崎楽大師祭り / 新歓演舞
    </div>
    <div class="schedule-box__etc">
    </div>
  </div>
  <div class="schedule-box">
    <div class="schedule-box__month">
      5月
    </div>
    <div class="schedule-box__fes">
      八王子学生天国 / スポフェス / 新歓合宿
    </div>
    <div class="schedule-box__etc">
    </div>
  </div>
  <div class="schedule-box">
    <div class="schedule-box__month">
      6月
    </div>
    <div class="schedule-box__fes">
      湘南よさこい祭り / YOSAKOIソーラン祭り
    </div>
    <div class="schedule-box__etc">
      旧年度演舞の踊り納め
    </div>
  </div>
  <div class="schedule-box">
    <div class="schedule-box__month">
      7月
    </div>
    <div class="schedule-box__fes">
    関東学生交流会 / 夏合宿
    </div>
    <div class="schedule-box__etc">
    </div>
  </div>
  <div class="schedule-box">
    <div class="schedule-box__month">
      8月
    </div>
    <div class="schedule-box__fes">
      彩夏祭 / 原宿スーパーよさこい元氣祭り / サタフェス
    </div>
    <div class="schedule-box__etc">
      新年度の演舞お披露目
    </div>
  </div>
  <div class="schedule-box">
    <div class="schedule-box__month">
      9月
    </div>
    <div class="schedule-box__fes">
      神戸よさこい / にいがた総おどり
    </div>
    <div class="schedule-box__etc">
    </div>
  </div>
  <div class="schedule-box">
    <div class="schedule-box__month">
      10月
    </div>
    <div class="schedule-box__fes">
      千葉よさこい / 東京よさこいふくろ祭り / 横浜よさこい / 多摩祭
    </div>
    <div class="schedule-box__etc">
    </div>
  </div>
  <div class="schedule-box">
    <div class="schedule-box__month">
      11月
    </div>
    <div class="schedule-box__fes">
      市ヶ谷祭 / DREAM夜さり来い / 町田夢舞い生ッスイ祭り / いちょう祭り / 理大祭
    </div>
    <div class="schedule-box__etc">
      3回生引退
    </div>
  </div>
  <div class="schedule-box">
    <div class="schedule-box__month">
      12月
    </div>
    <div class="schedule-box__fes">
      伊東ソーズラ祭り
    </div>
    <div class="schedule-box__etc">
    </div>
  </div>
  <div class="schedule-box">
    <div class="schedule-box__month">
      1月
    </div>
    <div class="schedule-box__fes">
    </div>
    <div class="schedule-box__etc">
    </div>
  </div>
  <div class="schedule-box">
    <div class="schedule-box__month">
      2月
    </div>
    <div class="schedule-box__fes">
      じゃんじゃんよさこい / 暗黒祭(定例会)
    </div>
    <div class="schedule-box__etc">
    </div>
  </div>
  <div class="schedule-box">
    <div class="schedule-box__month">
      3月
    </div>
    <div class="schedule-box__fes">
      浜松よさこい
    </div>
    <div class="schedule-box__etc">
    </div>
  </div>
</div>