.top-page
  .top-page__title
    .top-page__title--otori
      = image_tag('otori_white.png')
    %p.top-page__title--hosei 法政大学 YOSAKOIソーランサークル
    %p.top-page__title--hoyoren 鳳遙恋
  .top-page__text
    %p 〜 2019.11 - 2020.9 期間限定ホームページ 〜
  = link_to home_index_path do
    .top-page__button
      %p learn more
