<meta http-equiv="refresh"content="3; url=home/index">
<div class="toppage">
  <p class="front-image">
    <%= image_tag ('otori_black_red.png') %>
  </p>
  <p class="jump-to-home">
    <%= link_to "GO TO HOME", { :controller => "home", :action => "index"}, :style=>"color:white;" %>
  </p>
</div>