<%= render 'top/header' %>
<div class="performance">
  <div class="performance-header">
    <p class="performance-header__logo">▽ performance introduction ▽</p>
  </div>
  <div class="body-main">
    <div class="body-main__photo">
      <%= image_tag ('soran.jpg') %>
    </div>
    <div class="body-main__f">
      <div class="body-main__f--image">
        ここに廻覆の画像を貼る
      </div>
      <div class="body-main__f--comment">
        ここに廻覆の説明文
      </div>
    </div>
  </div>
<div class="body-sub">
  <%= render 'top/kakoenbu' %>
  <p class="credit">
    ~ hoyoren ~
  </p>
</div>