%footer
  %p.credit &copy; ︎2019 hoyoren. All Rights Reserved.
  %p.sns-icon
    = link_to "https://twitter.com/hoyoren" do
      %i.fab.fa-twitter
    = link_to "https://www.youtube.com/channel/UCb8TOgT4dd-ZYy69vjt4EZw" do
      %i.fab.fa-youtube