= render 'shared/header'
.info-header
  %p.info-header__info ~ I N F O M A T I O N ~
  %p.info-header__logo お問い合わせ / 公式アカウント
.info-main
  .info-main__left-box 
    %p.info-main__left-box--text
      鳳遙恋に興味を持っていただきありがとうございます。
      %br
      お問い合わせは本ページフォームもしくは下記メールアドレスよりお願いいたします。
      %br
      なお、内容によっては、ご連絡までお時間がかかるものがございます。あらかじめご了承ください。
      %br
      直接メールをお送りされる方は次のアドレスまでご連絡ください。 hoyoren@yahoo.co.jp
    .info-main__left-box--sns
      %p.twitter__text twitter
      = link_to "https://twitter.com/hoyoren" do
        %i.fab.fa-twitter
      %p.insta__text instagram
      = link_to "https://www.instagram.com/hoyoren4351/?hl=ja" do
        %i.fab.fa-instagram
      %p.youtube__text youtube
      = link_to "https://www.youtube.com/channel/UCb8TOgT4dd-ZYy69vjt4EZw" do
        %i.fab.fa-youtube