html {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  .main-header {
    height: 90px;
    width: 100%;
    background-color: #333128;
    opacity: 0.90;
    position: fixed;
    z-index: 9;
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    &__logo {
      float: left;
      color: white;
      padding-top:10px;
      padding-left: 40px;
      padding-bottom: 15px;
      font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
      .logo-hosei {
        font-size: 20px;
        font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
      }
      .logo-hoyoren {
        padding-top: 10px;
        padding-left: 250px;
        padding-bottom: 5px;
        font-size:45px;
        font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
      }
    }
    &__otori img {
      float: left;
      padding-left: 20px;
      height: 90px;
      width: 90px;
    }
    &__list {
      float: right;
      color: white;
      padding-top: 60px;
      padding-right: 40px;
      &--font {
        float: left;
        font-size: 18px;
        margin-left: 40px;
        color: white;
        text-decoration: none;
        font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
        // color: linear-gradient(to right, #0bd, #0071dd);
      }
    }
  }
  .top {
    width: 100%;
    height: 100%;
    iframe {
      width: 100%;
      height: 808px;
      display: block;
      margin: 0 auto;
    }
    &__slide {
      width: 100%;
      margin: 0 auto;
      img {
      width: 100%;
      height: 750px;
      }
    }
  }
  .photo {
    width: 100%;
    height: calc(100vh - 90px);
    border: solid 1px black;
  }
  .main {
    height: 1050px;
    width: 100%;
    margin-top: 90px;
      // padding: 0 40px;
    .main-menu {
      &__logo {
        text-align: center;
        font-size: 20px;
        padding-top: 40px;
        padding-bottom: 30px;
        font-family: fantasy;
      }
      .image-box {
        // 要横幅微調整
        width: 100%;
        height: 380px;
        margin: 0 auto;
        &__activity {
          float: left;
          width: 33%;
          img {
          height: 75%;
          width: 75%;
          display: block;
          margin: 0 auto;
          // padding-left: 70px;
          // padding-right: 20px;
          }
        }
        &__member {
          float: left;
          width: 33%;
          img {
          height: 75%;
          width: 75%;
          display: block;
          margin: 0 auto;
          // padding-left: 20px;
          // padding-right: 20px;
          }
        }
        &__performance {
          float: left;
          width: 33%;
          img {
          height: 75%;
          width: 75%;
          display: block;
          margin: 0 auto;
          // padding-left: 20px;
          }
        }
      }
    }
    .sub-menu {
      padding-top: 90px;
      padding-bottom: 30px;
      clear: both;
      .schedule-logo {
        text-align: center;
        font-size: 20px;
        font-family: fantasy;
      }
      &__twitter {
        height: 50px;
        width: 50px;
        left: 100px;
        top: 100px;
        .fa-twitter {
          font-size: 40px;
          color: #55acee;
        }
      }
      &__schedule {
        height: 350px;
        width: 60%;
        margin: 0 auto;
        // background-image: url('flag_schedule_2.png');
        overflow: scroll;
        .schedule-box {
          clear: both;
          border-bottom: solid 1px #f5f5f5;
          font-family: YuMincho;
          &__month {
            float: left;
            // background-color: gainsboro;
            min-height: 50px;
            width: 70px;
            text-align: center;
            line-height: 50px;
          }
          &__fes {
            float: left;
            line-height: 50px;
            padding-left: 15px;
          }
          &__etc {
            float: right;
            line-height: 50px;
            padding-right: 15px;
          }
        }
      }
      &__youtube {
        right: 40px;
        bottom: 300px;
        .fa-youtube {
          font-size: 40px;
          color: #cd201f;
        }
      }
    }
  }
}

  // width: 1273px;の時表示変更できるような記述にする