.info-wrapper {
  width: 100%;
  background-color: white;
  .info-header {
    padding-top: 120px;
    width: 100%;
    text-align: center;
    &__info {
      font-size: 25px;
      font-family: '游ゴシック';
    }
    &__logo {
      font-family: '游ゴシック';
      color: #777777;
      padding-top: 10px;
    }
  }
  .info {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    margin-top: 20px;
    .info-main {
      width: 80%;
      margin: 0 auto;
      padding-top: 40px;
      .twitter-now {
        float: left;
        width: 20%;
        padding-bottom: 20px;
      }
      &__text {
        float: left;
        width: 76%;
        height: 400px;
        margin-left: 40px;
        p {
          text-align: center;
          line-height: 40px;
        }
      }
    }
  }
  .info-main:after {
    content: "";
    display: block;
    clear: both;
  }

  .fa-twitter {
    font-size: 35px;
    color: #00acee;
    margin-top: 50px;
  }
  .fa-youtube {
    color: #c4302b;
    font-size: 35px;
    margin-top: 50px;
  }
  .instagram-logo img{
    margin-top: 50px;
  }
}

.twitter-now {
  width: 15%;
}

// 1250px