.info-header {
  padding-top: 140px;
  width: 100vw;
  text-align: center;
  &__info {
    font-size: 25px;
    font-family: '游ゴシック';
  }
  &__logo {
    font-family: '游ゴシック';
    color: #777777;
    padding-top: 10px;
  }
}
.info-main {
  width: 100vw;
  height: 1000px;
  background-color: rgba(0, 0, 0, 0.05);
  margin-top: 40px;
  &__left-box {
    float: left;
    width: 500px;
    padding-top: 70px;
    padding-left: 50px;
    &--text {
      letter-spacing: 0.1em;
      line-height: 40px;
      color: rgba(0, 0, 0, 0.75);
    }
    &--sns {
      margin-top: 20px;
      .sns-text {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 50px;
      }
      .twitter {
        float: left;
        width: calc(100% / 3);
        text-align: center;
        &__text {
          font-size: 18px;
        }
      }
      .insta {
        float: left;
        width: calc(100% / 3);
        text-align: center;
        &__text {
          font-size: 18px;
        }
      }
      .youtube {
        float: left;
        width: calc(100% / 3);
        text-align: center;
        &__text {
          font-size: 18px;
        }
      }
      .sub-account {
        float: right;
        padding-top: 50px;
        &__text {
          font-size: 12px;
        }
      }
    }
  }
  &__right-box {
    float: left;
    width: 700px;
    height: 600px;
    margin-top: 70px;
    margin-left: 90px;
    border: 1px solid black;
  }
}

.fa-twitter {
  font-size: 35px;
  color: #00acee;
  margin-top: 50px;
}
.fa-youtube {
  color: #c4302b;
  font-size: 35px;
  margin-top: 50px;
}
.instagram-logo img{
  margin-top: 50px;
}