.people-now {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 40px;
}
.people-box {
  clear: both;
  width: 100%;
  margin-left: 40px;
  padding-top: 40px;
  &__image {
    float: left;
  }
  &__image img {
    width: 655px;
    height: 500px;
  }
  &__text {
    float: left;
    padding-left: 30px;
  }
}
.go-to-new {
  position: fixed;
  height: 40px;
  width: 200px;
  background-color: gray;
  color: white;
  bottom: 40px;
  right: 0;
  line-height: 40px;
  text-align: center;
}
.go-to-logout {
  position: fixed;
  height: 40px;
  width: 200px;
  background-color: red;
  color: white;
  bottom: 0;
  right: 0;
  line-height: 40px;
  text-align: center;
}

// 学年ページ
.member-box {
  float: left;
  margin-left: 50px;
  margin-top: 20px;
  &__image img {
  }
  &__name {
  }
  &__text {
    width: 300px;
  }
  &__job {
  }
}

// 編集ページ
.member-edit__top {
  width: 100%;
  height: 40px;
  background-color: #55c500;
  p {
    text-align: center;
    line-height: 40px;
    color: white;
  }
}

.member-before-image {
  float: left;
  img {
  margin: 20px;
  }
}
.member-edit {
  float: left;
  &__box {
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    &--image {
    }
    &--name {
      width: 500px;
      height: 20px;
      display: block;
      margin-top: 20px;
    }
    &--job {
      width: 500px;
      height: 20px;
      display: block;
      margin-top: 5px;
    }
    &--text {
      width: 500px;
      height: 20px;
      display: block;
      margin-top: 5px;
    }
    &--year {
      width: 500px;
      height: 20px;
      display: block;
      margin-top: 5px;
    }
    &--memberid {
      width: 500px;
      height: 20px;
      display: block;
      margin-top: 5px;
    }
    .member-edit-btn {
      width: 100px;
      height: 50px;
      background-color: #99ffee;
      margin-top: 5px;
      font-size: 14px;
    }
  }
}
