%p.body-sub__logo ▽ 過 去 演 舞 紹 介 ▽
.image-box
  .image-box__enbu
    .image-box__enbu--img
      %a{:href => "https://www.youtube.com/watch?v=hqx-GVwI3xU"}= image_tag ('chiyokagura_onna.jpg')
    %p.image-box__enbu--exp
      2018年度演舞 千妖神樂
  .image-box__enbu
    .image-box__enbu--img
      %a{:href => "https://www.youtube.com/watch?v=_Fj-9VE6iMc"}= image_tag ('senko.jpg')
    %p.image-box__enbu--exp
      2017年度演舞 閃煌
  .image-box__enbu
    .image-box__enbu--img
      %a{:href => "https://www.youtube.com/watch?v=UnFrcyHPSfQ&list=PLInNr2cCw0T1z-ETkEHpT0Mhx6FBpDhE7&index=18"}= image_tag ('canvas.jpg')
    %p.image-box__enbu--exp
      2016年度演舞 CANVAS
  .image-box__enbu
    .image-box__enbu--img
      %a{:href => "https://www.youtube.com/watch?v=CrJxRng5Z80&t=75s"}= image_tag ('roman.jpg')
    %p.image-box__enbu--exp
      2015年度演舞 浪漫
      %br/
      %a{:href => "https://www.youtube.com/watch?v=CrJxRng5Z80&t=75s"} youtube
