%p.body-sub__logo ▽ 過 去 演 舞 紹 介 ▽
.image-box
  .image-box__enbu
    .image-box__enbu--img
      %a{:href => "https://www.youtube.com/watch?v=hqx-GVwI3xU"}= image_tag ('chiyokagura_soran_performance.jpg')
    %p.image-box__enbu--exp
      %br 2018年度演舞 千妖神樂
      %br 今宵の宴はこれからだ！
      %br いつかは終わるこの日々の永遠を願って舞い踊れ
  .image-box__enbu
    .image-box__enbu--img
      %a{:href => "https://www.youtube.com/watch?v=_Fj-9VE6iMc"}= image_tag ('senko_soran_performance.jpg')
    %p.image-box__enbu--exp
      %br 2017年度演舞 閃煌
      %br この一瞬は永遠に続かない
      %br だけど俺たちが今を、未来を、全てを照らし出す輝く新たな光となる
  .image-box__enbu
    .image-box__enbu--img
      %a{:href => "https://www.youtube.com/watch?v=UnFrcyHPSfQ&list=PLInNr2cCw0T1z-ETkEHpT0Mhx6FBpDhE7&index=18"}= image_tag ('canvas_soran_performance.jpg')
    %p.image-box__enbu--exp
      %br 2016年度演舞 CANVAS
      %br 壮大な遊びも、一本の筆に乗せ誰も見たことのない世界を描く
      %br 一人一人がそれぞれがもつ個性という名の色
      %br 色と色とを重なり合わせて一つの絵画を作り出す
  .image-box__enbu
    .image-box__enbu--img
      %a{:href => "https://www.youtube.com/watch?v=CrJxRng5Z80&t=75s"}= image_tag ('roman_soran_performance.jpg')
    %p.image-box__enbu--exp
      %br 2015年度演舞 浪漫
      %br 和洋折衷、舞台は明治。儚くも熱い想いを胸に踊り続けるからくり人形
      %br 「寄ってらっしゃい見てらっしゃい奇妙奇天烈からくり人形」
      %br 和と洋が作る、煌びやかな新しい時代が始まる
      -# %a{:href => "https://www.youtube.com/watch?v=CrJxRng5Z80&t=75s"} youtube
