.header-box
  .header-box__list
    %p.header-box__list--font トップページ
  .header-box__list
    %p.header-box__list--font 1回生
  .header-box__list
    %p.header-box__list--font 2回生
  .header-box__list
    %p.header-box__list--font 3回生
  .header-box__list
    %p.header-box__list--font 4回生
  .header-box__list
    %p.header-box__list--font OBOGさん