member新規投稿画面
.member-create
  %input{ class: ".member-create__name", placeholder: "よさ名", type: "text"}
  %input{ class: ".member-create__nickname", placeholder: "普段呼ばれている名前", type: "text"}
  %input{ class: ".member-create__job", placeholder: "役職", type: "text"}
  %input{ class: ".member-create__text", placeholder: "テキスト", type: "text"}
  %input{ class: ".member-create__image", placeholder: "画像をアップロード", type: "text"}
  %button.member-create__btn 投稿
