= render 'shared/header'
- if current_page?(member_path(1)) then
  = render 'members/f_member'
- if current_page?(member_path(2)) then
  = render 'members/chiyokagura_member'
- if current_page?(member_path(3)) then
  = render 'members/senko_member'